body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #FFD5C9 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DDCFCC'/%3E%3Cstop offset='1' stop-color='%23FFD5C9'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E") fixed;
    background-size: cover;;
    color: #696563;
    font-family: Verdana;
    font-size: 15px;
}

h1, h2, p {
    margin: 1em auto;
    text-align: center;
}

p[id="logo"] {
    color: #fff;
    font-size: 60px;
    margin-bottom: -80px;
}

h1 {
    color: #fff;
    font-family: Didot, 'sans-serif';
    font-size: 60px;
}

p[id="description"] {
    font-family: Didot, 'sans-serif';
    font-size: 18px;
    font-style: italic;
    margin: -40px 0 40px 0;
}

h2 {
    font-family: Didot, 'sans-serif';
}

hr {
    border: none;
}

form {
    width: 60vw;
    max-width: 550px;
    min-width: 350px;
    margin: 0 auto;
    padding-bottom: 2em;
    background: #fcf5f2;
    margin-bottom: 60px;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px dotted #ebd1c7;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 1rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 3em;
}

input, textarea {
    background-color: #fff;
    border: 1px solid #fff;
    /*color: #a39e9d;*/
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    min-height: 1em;
}

select[id="dropdown"] {
    background-color: #fff;
    border: 1px solid #fff;
}

p[id="footer"] {
    color: #fff;
}

input[id="profile-picture"] {
    min-height: 1.1em;
    background: none;
    border: none;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.2rem;
    background-color: #e3baaf;
    border-color: #e3baaf;
    min-width: 300px;
    color: #fff;
    font-weight: bold;
    font-family: Didot, 'sans-serif';
}
input[type="submit"]:hover {
    cursor: pointer;
}

a:link {
    color: #e3baaf;
}

a:visited {
    color: #e3baaf;
}

a:hover {
    color: #e3baaf;
}

a:active {
    color: #e3baaf;
}
